.button {
  position: relative;
  width: 100%;
  font-weight: 600;
  color: white;
}

.button:disabled {
  background-color: #c4c4c4;
}

.button:disabled:hover {
  background-color: #c4c4c4;
  cursor: auto;
}

.primaryButton {
  background-color: #2f4f4f;
  padding: 1rem;
  border-radius: 0.25rem;
}

.primaryButton:hover {
  background-color: #3e5c5c;
}

.secondaryButton {
  background-color: #b8860b;
  padding: 0.5rem;
}

.secondaryButton:hover {
  background-color: #c28f0f;
}

.iconContainer {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
