.inputContainer {
  text-align: left;
  height: 5.25rem;
}

.inputLabel {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: text;
}

.input::placeholder {
  font-size: 0.875rem;
}

.defaultInputBorder {
  border: 1px solid gray;
}

.errorInputBorder {
  border: 1px solid red;
}

.errorMessage {
  font-size: 0.875rem;
  color: red;
}
